# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# 환경설정 파일만 제외 (폴더 구조는 유지)
environment/.env
environment/.env.*
!environment/.env.example
